body{
	background-color: pink;
}
h1 {
	font-size: 40px;
	color: salmon;
}
h2 {
	font-size: 30px;
	color: #EEAA77;
}
.sol{
	font-size: 50px;
}
.uppercase{
	text-transform: uppercase;
}
.sol.uppercase{
	color: navy;
}
span{
	color: red;
}